.nav {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--secondary-main);
    grid-area: nav;
}

.container {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.linkContainer {

}
