.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas: "nav main";
    gap: 2rem;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 250px;
    max-width: 1920px;
    width: 100%;
    align-self: center;
}

.wipe {
    z-index: 50;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    background-color: var(--secondary-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--primary-main);
    font-size: 10rem;
    font-weight: bold;
    font-family: "IBM Plex Mono";
}
