:root {
    --primary-main: #FFF;
    --secondary-main: #222;
    --secondary-light: #2E2E2E;
    --background-main: #FFFBF2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFBF2;
    color: #222222;
    font-family: 'Poppins';
}

body::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPGZpbHRlciBpZD0ibm9pc2UiPgogICAgICAgIDxmZVR1cmJ1bGVuY2UgdHlwZT0idHVyYnVsZW5jZSIgYmFzZUZyZXF1ZW5jeT0iMC42NSIvPgogICAgPC9maWx0ZXI+CiAgICA8cmVjdCBmaWx0ZXI9InVybCgjbm9pc2UpIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiAvPgo8L3N2Zz4=");
    position: fixed;
    left: 0;
    top: 0;
    content: "";
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    opacity: 30%;
    pointer-events: none;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: var(--secondary-main);
}

a:visited {
    color: var(--secondary-main);
    text-decoration: none;
}
