.button {
    height: 48px;
    border: 2px solid var(--secondary-main);
    border-radius: 8px;
    padding: 8px;
    color: var(--primary-main);
    background-color: var(--secondary-main);
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1rem;
}

.text {

}

.outlined {

}

.filled {

}
