.primary {
    color: var(--primary-main);
}

.secondary {
    color: var(--secondary-main);
}

.small {
    transform: scale(0.75);
}

.medium {
    transform: scale(1);
}

.large {
    transform: scale(1.5);
}
