.container {
    outline: 2px solid var(--secondary-main);
    display: inline-block;
    padding: 3rem;
    border-radius: 12px;
    background-color: var(--background-main);
    position: relative;
    box-shadow: -6px 6px 0 var(--secondary-main);
}

.form {
    display: inline-flex;
    flex-direction: column;
}
