.container {
    padding: 1rem;
    background-color: var(--primary-main);
    border: 2px solid var(--secondary-main);
    display: flex;
    flex-direction: column;
    width: 350px;
    transition: all 150ms ease-in-out;
    font-family: "IBM Plex Mono", Courier, monospace;
    border-radius: 12px;
}

.container:hover {
    filter: drop-shadow(-4px 4px 0 #222);
    transform: translate(4px, -4px);
    cursor: pointer;
}

.container:active {
    filter: none;
    transform: none;
}

.title {
    margin: 0;
    margin-top: 1rem;
}

.message {
    margin: 0;
}

.iconContainer {
    background-color: rgba(255, 212, 128, 1);
    /*height: 48px;*/
    /*width: 48px;*/
    width: min-content;
    padding: 8px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
