.link {
    padding: 8px;
    color: var(--primary-main);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid red;
}

.link:hover {
    background-color: red;
}
